### Question 1 Solution
b. To calculate the Average Order Value, It's more emcopassing to utilize the Value in the 75 percentile range.  
c. In this Scenario, the proposed AOV is $169

In [2]:
import pandas as pd

In [5]:
#url = 'https://docs.google.com/spreadsheets/d/16i38oonuX1y1g7C_UAmiK9GkY7cS-64DfiDMNiR41LM/edit#gid=0'
df = pd.read_csv('2019 Winter Data Science Intern Challenge Data Set - Sheet1.csv')

In [6]:
df.describe(include = 'all')

,order_id,shop_id,user_id,order_amount,total_items,payment_method,created_at
count,5000.000000,5000.000000,5000.000000,5000.000000,5000.00000,5000,5000
unique,NaN,NaN,NaN,NaN,NaN,3,4991
top,NaN,NaN,NaN,NaN,NaN,credit_card,2017-03-28 4:00:00
freq,NaN,NaN,NaN,NaN,NaN,1735,3
mean,2500.500000,50.078800,849.092400,3145.128000,8.78720,NaN,NaN
std,1443.520003,29.006118,87.798982,41282.539349,116.32032,NaN,NaN
min,1.000000,1.000000,607.000000,90.000000,1.00000,NaN,NaN
25%,1250.750000,24.000000,775.000000,163.000000,1.00000,NaN,NaN
50%,2500.500000,50.000000,849.000000,284.000000,2.00000,NaN,NaN
75%,3750.250000,75.000000,925.000000,390.000000,3.00000,NaN,NaN
max,5000.000000,100.000000,999.000000,704000.000000,2000.00000,NaN,NaN

In [7]:
df['order_value'] = df['order_amount'] / df['total_items']
df['order_value']

0       112.0
1        90.0
2       144.0
3       156.0
4       156.0
        ...
4995    165.0
4996    117.0
4997    117.0
4998    177.0
4999    144.0
Name: order_value, Length: 5000, dtype: float64

In [8]:
df['order_value'].describe(include = 'all')

count     5000.000000
mean       387.742800
std       2441.963725
min         90.000000
25%        133.000000
50%        153.000000
75%        169.000000
max      25725.000000
Name: order_value, dtype: float64